---
import { Project } from '../components/project'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Hack.go.th</title>
  </head>
  <body>
    <h1 class="font-bold text-2xl">Hack.go.th</h1>
    <Project
      project={{
        title: 'Bugeting',
        description: 'Sample project card',
        tags: ['api', 'in progress'],
      }}
    />
  </body>
</html>
