---
import '@fontsource-variable/anuphan'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />

    <slot name="head">
      <title>Hack.go.th</title>
    </slot>
  </head>
  <body>
    <slot />
  </body>
</html>
